<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 03</p>
      </div>
    </div>
    <div class="container">

    </div>
<div>
  <form action="/ta03" method='GET'>
    <label for="">Search JSON List</label>
    <input type="text" name="searchList" id="" value='<%=userSearchList %>'>
    <button type="submit">Find JSON Item</button>
  </form>
</div>

    <div>
      <ul>
        <% for ( item of items ) { %>
        <li><%= item.name %></li>
        <% } %>
      </ul>
    </div>


</body>

</html>